Flask==0.11.1
Flask-Login==0.2.11
Flask-SQLAlchemy==2.0
Flask-WTF==0.11
SQLAlchemy==1.0.5
WTForms==2.0.2
gunicorn==19.3
OAuth2==1.5.211
httplib2==0.9.1
werkzeug==0.7
MarkupSafe==0.23
decorator==3.4.2
itsdangerous==0.24
Jinja2==2.7.3
psycopg2==2.6.1
sqlalchemy-migrate==0.9.6
-e git://github.com/werdnum/flask-oauth.git#egg=flask-oauth
embedly==0.5.0
