{%extends "base.html"%}
{%block content%}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="list-group">
      <li class="list-group-item">
        <h4>Activity</h4>
        <hr>
          {% for item in activity%}
            <p><a href = "{{url_for('user', username = item.subject.username)}}">@{{item.subject.username}}</a> {{item.action}} your message</p>
            <ul class="list-group"><a class="list-group-item" href = "{{url_for('message_reader', message_id = 'item.message_id')}}">{{item.message.title}} <small>{{item.message.short_url()}}</small></a></ul> 
          {% else %}
          <p>No activity yet. Why don't you add some <a href ="{{url_for('find_contacts')}}">friends?</a></p>
          {%endfor%}
      </li>
    </ul>
  </div>
</div>
{%endblock%}
