{%extends "base.html"%}
{%block content%}
<div class="row">
  <div class="col-md-5 col-md-offset-3">
    <ul class="list-group">
      <li class="list-group-item">
        <h4>Activity</h4>
        <hr>
        {% if activity%}
          {% for item in activity%}
            <p>{{item.subject.username}} {{item.action}} your message <a href = "{{url_for('message_reader', message_id = 'item.message_id')}}">{{item.message.title}}</a><span class="pull-right">{{item.timestamp}}</span></p>
          {%endfor%}
        {%else%}
          <p>No activity yet. Why don't you add some <a href ="{{url_for('find_contacts')}}">friends?</a></p>
        {%endif%}
      </li>
    </ul>
  </div>
</div>
{%endblock%}
