<!DOCTYPE html>
<html lang="en" ng-app= "zippApp">
  <head>
    <meta charset="utf-8">
    <title>Zipp Api Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  </head>
  <body ng-controller="InboxController" ng-cloak>
    <h1>ZippMessage</h1><a href=#>Inbox</a><a href=#>Bookmarks</a><a href=#>Explore</a><a href=#>compose</a><a href=#>Profile</a>
    <h2>Inbox</h2>
    {% raw %}
      <ul style = "list-style:none;">
        <li ng-repeat="message in inbox">
          <a href = "{{message.url}}">
            <p>{{message.title}}</p>
            <p>{{message.description}}</p>
          </a>
          <p>{{message.from_user}} {{message.note}}</p>
          <a href=#>dismiss </a><a href=#>share </a><a href=#>bookmark</a></div>
        </li>
      </ul>
    {% endraw %}

    <script type="text/javascript" src="/static/js/app.js"></script>
  </body>

</html>
