<!DOCTYPE html>
<html lang="en" ng-app= "zippApp">
  <head>
    <meta charset="utf-8">
    <title>Zipp Api Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  </head>
  <body ng-controller="InboxController" ng-cloak>
    <div>Inbox</div>
    {% raw %}
      <ul>
        <li ng-repeat="message in inbox">
          <p>{{message.from_user}} {{message.note}}</p>
          <a href = "{{message.url}}">
            <p>{{message.title}}</p>
            <p>{{message.description}}</p>
          </a>
          <div width= "100%"><a>dismiss </a><a>share </a><a>bookmark</a></div>
        </li>
      </ul>
    {% endraw %}

    <script type="text/javascript" src="/static/js/app.js"></script>
  </body>

</html>
