<!DOCTYPE html>
<html lang="en" ng-app= "zippApp">
  <head>
    <meta charset="utf-8">
    <title>Zipp Api Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

  </head>
  <body ng-controller="InboxController">
    <div>Inbox</div>
    {% raw %}
      <ul ng-repeat="message in inbox">
        <li>{{message.fromUser}}{{message.note}}</li>
        <li>
          <a href = "{{message.url}}">
            <p>{{message.title}}</p>
            <p>{{message.description}}</p>
          </a>
        </li>
      </ul>
    {% endraw %}
    <script type="text/javascript" src="/static/js/app.js"></script>
  </body>

</html>
