<!DOCTYPE html>
<html lang="en" ng-app= "zippApp">
	<title> Zipp - {{title}}</title>
	<head>
   		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen">
			<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" media="screen">
			<link rel='stylesheet' type="text/css" href={{url_for('styles')}}>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
   		<script  type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
			<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
			<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
  		<link rel="shortcut icon" href="{{ url_for('favicon')}}">
			<link href='https://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
			<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta charset="utf-8">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
		<style>
			body {
				padding-top: 70px;
			}
		</style>
	</head>
	<body>
	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-links">
		        <span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{{url_for('index')}}">zipp</a>
		    </div>
		    <div class="collapse navbar-collapse" id="nav-links">
					{% if g.user %}
		      <ul class="nav navbar-nav">
						<li id = "nav-bottom-border" ><a class ="inbox" href="{{url_for('inbox')}}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inbox</a></li>
						<li id = "nav-bottom-border"><a class="bookmarks" href="{{url_for('bookmarks')}}"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Bookmarks</a></li>
            <li id = "nav-bottom-border"><a class="reader" href="{{url_for('reader')}}"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Reader</a></li>
            <li id = "nav-bottom-border"><a class="explore" href="{{url_for('explore')}}"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Explore</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
							<li id = "nav-bottom-border"><a class="btn btn-default navbar-btn compose" href="{{url_for('compose')}}" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Compose</a></li>
							<img class="profile-image" src="{{user.get_profile_img_url}}">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@{{g.user.username}}<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="{{url_for('user', username=g.user.username)}}">Profile</a></li>
									<li><a href = "{{url_for('activity')}}">Activity</a></li>
									<li><a href ="{{url_for('tags')}}">#tags</a></li>
									<li><a href ="{{url_for('contacts')}}">Contacts</a></li>
									<li class="divider"></li>
									<li><a href="{{url_for('logout')}}">Logout</a></li>
								</ul>
							</li>
							{%else%}
							<ul class="nav navbar-nav navbar-right">
								<li ><a href = "{{url_for('login')}}" class="text-brand-color">Sign up or Login</a></li>
							</ul>
							{% endif %}
          </ul>
		  	 </div>
			 </div>
		</nav>
	</div>
	<div class="container zipp-app">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
