<!--extends base layout -->
{% extends "base.html" %}
{%block content%}
<div class="row hidden-sm hidden-md hidden-lg">
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
    <ul class = "list-group">
      {% if user_tags %}
        <a class="list-group-item" href = "{{url_for('tags')}}">see all tags <span class = "glyphicon glyphicon-chevron-right pull-right"></span></a>
      {% else %}
        <p>no tagged items yet :/</p>
      {% endif %}
    </ul>
  </div>
</div>
<div class="row">
  <div class ="col-sm-3 hidden-xs">
      <a href ="{{url_for('tags')}}"><h4>Tags</h4></a>
      <hr>
    {% if user_tags %}
      {% for tag in user_tags%}
        <p><a href = "{{url_for('tag', name = tag[0])}}">#{{tag[0]}} </a><small>{{tag[1]}}</small></p>
      {% endfor %}
      <a class="list-group-item" href = "{{url_for('tags')}}">see all tags <span class = "glyphicon glyphicon-chevron-right pull-right"></span></a>
    {% else %}
      <p>no tagged items yet :/</p>
    {% endif %}
  </div>
  <div class = "col-sm-9 col-xs-12">
    <div class="row masonry">
    {% if bookmarks %}
      {% for message in bookmarks.items %}
          <div class = "col-sm-5 col-md-4 item">
            <ul class = "list-group">
              {% include "bookmarked.html" %}
            </ul>
          </div>
      {% endfor %}
    {% else %}
      <ul class ="list-group">
        <li class = "list-group-item">nothing here yet :/</li>
      </ul>
    {% endif %}
    </div>
  </div>
</div>
<div class = "row">
  <div class = "col-xs-12 col-md-offset-2">
    <div class = "text-align text-center">
        <ul class="list-inline">
          {% if bookmarks.has_prev %}<li><a id = "outline" class = "btn btn-default" href = "{{url_for('bookmarks',page = bookmarks.prev_num)}}">previous</a></li>{% endif %}
          {% if bookmarks.has_next %}<li><a id="outline" class = "btn btn-default" href = "{{url_for('bookmarks',page = bookmarks.next_num)}}">next</a></li>{% endif %}
        </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  var $container = $('.masonry');
  $container.imagesLoaded( function () {
    $container.masonry({
      columnWidth:'.item',
      itemSelector: '.item',
      percentPosition: true,
    });
  });
  $(window).load = (function (){
    $container.masonry('layout')
  })
  $(".bookmarks").addClass("active")
</script>
{% endblock %}
