<!--extends base layout -->
{% extends "base.html" %}
{%block content%}
<style>
  .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
</style>
<div class="row">

  <div class ="col-md-3 hidden-xs hidden-sm">
    <ul class = "list-group">
      <a class="list-group-item" href ="{{url_for('tags')}}"><h4>tags</h4></a>
      {% if user_tags %}
        {% for tag in user_tags%}
          <a class ="list-group-item" href = "{{url_for('tag', name = tag[0])}}">#{{tag[0]}}<label class="badge">{{tag[1]}}</a>
        {% endfor %}
        <a class = "list-group-item" href = "{{url_for('tags')}}">see all tags <span class = "glyphicon glyphicon-chevron-right pull-right"></span></a>
      {% else %}
        <li class = "list-group-item">no tagged items yet :/</li>
      {% endif %}
    </ul>
  </div>
  <div class ="col-sm-6 col-sm-offset-3 hidden-md hidden-lg">
    <ul class = "list-group">
      <a class="list-group-item" href ="{{url_for('tags')}}"><h4>see all tags<span class ="glyphicon glyphicon-chevron-right pull-right"></span></h4></a>
    </ul>
  </div>

  <div class = "col-xs-10 col-md-9 " style = "display:inline-block;">
    {% if bookmarks %}
      {% for message in bookmarks %}
        <div class = "col-sm-5 col-md-4 col-sm-offset-1 col-md-offset-0" style = "height:300px;">
          <ul class = "list-group">
            {% include "bookmarked.html" %}
          </ul>
        </div>
      {% endfor %}
    {% else %}
      <ul class ="list-group">
        <li class = "list-group-item">nothing here yet :/</li>
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
