<li class="list-group-item">
    <a class="username" href = "{{url_for('user', username = message.message.author.username)}}">@{{message.message.author.username}}</a>: {{message.message.title}}<small><span class="pull-right">{{message.message.format_timestamp()}}</span></small>
</li>
<a class="list-group-item" href="{{message.message.url}}" target = "_blank" rel = "noopener">
  {% set resp = message.message.request_url() %}
    {%if resp['title']%}
      <h5>{{resp['title']}}</h5>
    {%else%}
      <h5>Content available at {{message.message.short_url()}}</h5>
    {%endif%}
    <span style="display:inline-block"><img src="{{message.message.url_logo()}}"> <span  class = "truncate">{{message.message.short_url()}}</span></span>
</a>
{% with tags = message.usermessage_tags() %}
  {% if tags %}
    <li class = "list-group-item">
      <ul class = "list-inline">
        {% for name in tags %}<li><a href = "{{url_for('tag', name = name)}}">#{{name}}</a></li>{% endfor %}
      </ul>
    </li>
  {% endif %}
{% endwith %}
<li class="list-group-item">
  <ul class="list-inline" style="text-align:center;">
    <li style="width:17%"><a href ="{{url_for('dismiss', message_id = message.message_id)}}"><span id="dismiss" class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></li>
    <li style="width:17%"><a href ="{{url_for('bookmark', message_id = message.message_id)}}"><span class="glyphicon glyphicon-tags green-hover" aria-hidden="true"></span></a></li>
    <li style="width:17%"><a href ="{{url_for('share', message_id = message.message_id, next = 'bookmarks')}}"><span class="glyphicon glyphicon-send blue-hover" aria-hidden="true"></span></a></li>
  </ul>
</li>
