<!-- extends base layout -->
{% extends "base.html" %}

{% block content %}
<div class ="row">
	<div class="col-md-6 col-md-offset-3">
		<h4>Edit Settings </h4>
			<form action="" method = "POST" name="new message">
				<div class="form-group">
					{{form.hidden_tag()}}
						<label>Email <small>{{user.email}}</small></label>
						{{form.email(class_="form-control", placeholder="john@example.com")}}
						<label>receive notifications?<small>currently {%if user.notifications_status%}turned on {%else%}turned off{%endif%}</label> 
						{{form.notifications_status}}
				</div>
					<input type = "submit" value = "Next" class = "btn btn-default pull-right" id="outline">
			</form>
	</div>
</div>
{% endblock %}
