{%extends "base.html"%}
{%block content%}
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
<div class ="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      {% if error %}
       <div class = "alert alert danger">{{error}} <a href = "{{url_for(inbox)}}">Back to Inbox</a></div>
      {%endif%}
      {% if contacts %}
        <h4>Some of your friends are already here!</h4>
        {% for friend in contacts %}
          <p><image src="{{friend['profile_image_url']}}" style = "border:1px solid #fafafa; border-radius:50%; height:30px;"><a href = "{{url_for('user', username = friend['screen_name'])}}">   {{friend['name']}} </a><span class = "pull-right"><a href = # type="button" class="btn btn-default btn-xs">unfollow</a></span></p>
        {%endfor%}
      {% endif %}
      {% if not_contacts %}
        {% for friend in not_contact %}
          <p><image src="{{friend['profile_image_url']}}" style = "border:1px solid #fafafa; border-radius:50%; height:30px;"><a href = "{{url_for('user', username = friend['screen_name'])}}">   {{friend['name']}} </a><span class="pull-right"><a href = # type="button" class="btn btn-default btn-xs">follow</a></span></p>
        {%endfor%}
      {% endif %}
      <br>
      {% if not_users %}
      <h4>invite</h4>
        {% for friend in not_users%}
        <p><image src="{{friend['profile_image_url']}}" style = "border:1px solid #fafafa; border-radius:50%; height:30px;">   {{friend['name']}} <span class="pull-right"><a href = "https://twitter.com/intent/tweet?screen_name={{friend['screen_name']}}&text=I'm+Using+Zipp+a+new+social+bookmarking+app.+Check+it+out!+&url=http%3A%2F%2Fwww.zippmsg.com" type="button" class="btn btn-default btn-xs" target="_blank">invite</a></span></p>
          {%endfor%}
      {% endif %}
    </div>
  </div>
</div>
{%endblock%}
