<!-- extends base layout -->
{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4>Sent Messages</h4>
    <ul class="list-group">
      {% if history %}
        {% for item in history %}
          <li class="list-group-item">
          <ul class="list-inline">
            Sent to:
          {% set r = item.recipients%}
          {% for i in r %}
            <li><a href="{{url_for('user', username=i.username)}}">@{{i.username}}</a></li>
          {%endfor%}
          </ul>
          <ul class="list-group">
            <a class="list-group-item" href="{{item.url}}">
              <p>{{item.title}}</p>
              <p class="truncate"><small>{{item.url}}</small></p>
            </a>
          </ul>
          </li>
        {%endfor%}
      {%endif%}
    </ul>
  </div>
</div>
{% endblock %}
