<!--extends base layout -->

{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class = "alert alert-info"	role= "alert">
      Welcome to Zipp! <a href = "{{url_for('welcome')}}" class = "alert-link">How it works</a>
    </div>
  </div>
</div>

<div class="row">
  <div class ="col-md-3 hidden-xs hidden-sm">
    <ul class = "list-group">
      <a class="list-group-item" href ="{{url_for('tags')}}"><h4>tags</h4></a>
      {% if user_tags %}
        {% for tag in user_tags%}
          <a class ="list-group-item" href = "{{url_for('tag', name = tag[0])}}">#{{tag[0]}}<label class="badge">{{tag[1]}}</a>
        {% endfor %}
        <a class = "list-group-item" href = "{{url_for('tags')}}">see all tags <span class = "glyphicon glyphicon-chevron-right text-right"></span></a>
      {% else %}
        <li class = "list-group-item">no tagged items yet :/</li>
      {% endif %}
    </ul>
  </div>
  <div class ="col-sm-6 col-sm-offset-3 hidden-md hidden-lg">
    <ul class = "list-group">
      <a class="list-group-item" href ="{{url_for('tags')}}"><h4>see all tags<span class ="glyphicon glyphicon-chevron-right pull-right"></span></h4></a>
    </ul>
  </div>
	<div class ="col-md-6">
	  {% if inbox %}
		  {% for message in inbox.items %}
        <ul class="list-group">
	  			{% include "message.html" %}
        </ul>
	 		{% endfor %}
  	{% else %}
		  <p> Theres nothing here :(. Add some stuff and will show up here</p>
  </div>
    {% endif %}
</div>

<footer class = "footer">
  <div class = "container">
    <nav>
      <ul class="pager">
        {% if inbox.has_prev %}<li><a href = "{{url_for('inbox',page = inbox.prev_num)}}">previous</a></li>{% endif %}
        {% if inbox.has_next %}<li><a href = "{{url_for('inbox',page = inbox.next_num)}}">next</a></li>{% endif %}
      </ul>
    </nav>
  </div>
</footer>
{% endblock %}
