<!--extends base layout -->

{% extends "base.html" %}
{% block content %}
<style>
  #compose {
    display: none;
  }

  #compose:target {
    display: block;
  }

  .glyphicon{
    color:gray;
  }

  #dismiss:hover{
    color:#CC1A40;
  }
  .btn:focus{
    outline:0;
    border:none;
  }
  .glyphicon-send:hover{
    color:#54C6EB;
  }
  .glyphicon-bookmark:hover{
    color:#06D66E;
  }
  .glyphicon-book:hover{
    color:#06D66E;
  }

  .article {
      position: relative;
      overflow: hidden;
      height:20em;
      width:100%;
  }

  .article-small {
      position: relative;
      overflow: hidden;
      height:12em;
      width:100%;
  }

  .article img {
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
      }

</style>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class = "alert alert-info"	role= "alert">
      Welcome to Zipp! <a href = "{{url_for('welcome')}}" class = "alert-link">How it works</a>
    </div>
  </div>
</div>
<div class = "row text-align text-center">
  <div class = "col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
    <a href ="#compose" class ="btn btn-link btn-default btn-block"><span class = "glyphicon glyphicon-edit"></span></a>
  </div>
</div>
<div class = "row" id="compose">
  <div class="col-md-6 col-md-offset-3" style="padding-bottom:10px;">
    <h4>Share a link</h4>
      <form action="" method = "POST" class="">
        <div class="form-group">
          {{form.hidden_tag()}}
            {{form.message_url(class_="form-control", placeholder="paste a URL")}}
        </div>
        <div class = "form-group">
            {{form.message_title(class_="form-control", placeholder="Add a note")}}
        </div>
          <input type = "submit" value = "Next" class = "btn btn-default pull-right">
      </form>
  </div >
</div>
<div class="row">
  <div class ="col-md-3 hidden-xs hidden-sm" style="padding-top:10px;">
    <ul class = "list-group">
      <a class="list-group-item" href ="{{url_for('tags')}}"><h4>tags</h4></a>
      {% if user_tags %}
        {% for tag in user_tags%}
          <a class ="list-group-item" href = "{{url_for('tag', name = tag[0])}}">#{{tag[0]}}<label class="badge">{{tag[1]}}</a>
        {% endfor %}
        <a class = "list-group-item" href = "{{url_for('tags')}}">see all tags <span class = "glyphicon glyphicon-chevron-right text-right"></span></a>
      {% else %}
        <li class = "list-group-item">no tagged items yet :/</li>
      {% endif %}
    </ul>
  </div>
  <div class ="col-sm-6 col-sm-offset-3 hidden-md hidden-lg">
    <ul class = "list-group">
      <a class="list-group-item" href ="{{url_for('tags')}}"><h4>see all tags<span class ="glyphicon glyphicon-chevron-right pull-right"></span></h4></a>
    </ul>
  </div>
  <div class = "col-md-3 hidden-xs">
    <ul class = "list-group">
      {% if activity_feed %}
        {% for item in activity_feed%}
        <a class = "list-group-item" href = "{{url_for(reader, message = message_id)}}">{{item.subject.username}} {{item.action}} your message: {{item.message.note}}</a>
        {% endfor %}
      {% else %}
        <a class = "list-group-item" href = #>
          No activity. Add some <a href = "{{url_for('find_contacts')}}">friends!</a>
        </a>
      {% endif %}
    </ul>
  </div>
	<div class ="col-md-6 col-md-pull-3"  ng-controller="InboxController" ng-cloak>
    {% raw %}
    <div class = "alert alert-info"	role= "alert" ng-show="alert">
      {{alert}}
    </div>
    <ul class = "list-group" ng-repeat="message in inbox">
      <li class = "list-group-item">
        <p><a href = "/user/{{message.from_user}}">@{{message.from_user}}:</a> {{message.note}}<span class ='pull-right' style="color:gray">{{message.timedelta}}</span></p>
        <span class = "embedly-embed" ng-bind-html="$sce.trustAsHtml(message.content)"></span>
      </li>
      <li class = "list-group-item" style="text-align:center;">
        <button type="button" class="btn btn-link btn-sm" style="width:14%" ng-click="dismissMessage(message.id)" ><span id="dismiss" class="glyphicon glyphicon-remove"></span></button>
        <a type="button" class="btn btn-link btn-sm" style="width:14%" href ="/bookmark/{{message.id}}?next=inbox"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></a>
        <a type="button" class="btn btn-link btn-sm" style="width:14%" href = "/message/reader/{{message.id}}"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></a>
        <a type="button" class="btn btn-link btn-sm" style="width:14%" href ="/share/{{message.id}}?next=inbox"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></a>
      </li>
    </ul>
    <div class="loader" ng-show="loading">Loading...</div>
    <div class = "text-center" style="padding-bottom:50px" ng-cloak>
      <button type = "button" class = "btn btn-default btn-sm btn-block btn" ng-click="getInbox()" ng-hide="loadedAll" style="border: none; color:#06D66E;">Load Next 6</button>
      <span ng-show="loadedAll"><h2>You've reached the end of your inbox! :)</h2></span>
    </div>
    {% endraw %}
    <script type="text/javascript" src="/static/js/app.js"></script>
  </div>
</div>

{% endblock %}
