<!-- extends base layout-->
{% extends "base.html" %}

{% block content %}

<h4>{{g.user.username}}'s Bookmarks</h4>
<div class="container-fluid">
	<div class="row">
	  	<div class ="col-md-8 col-md-offset-2">
			<ul class="list-group">
				{% if bookmarks %}
	  				{% for message in bookmarks %}
							<li class = "list-group-item"> {% include "bookmarked.html"%}
	 					{% endfor %}
  			{% else %}
						<li class="list-group-item"> no messages :( </li>
			</ul>
		</div>
	</div>
</div>
  			{% endif %}
{% endblock %}
