<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script  type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('favicon')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('styles')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <style>
    body{
      line-height: 200%;
      font-size:150%;
    }
      img {
        width:100%;
      }
      .glyphicon-send:hover{
        color:#54C6EB;
      }
      .glyphicon-bookmark:hover{
        color:#06D66E;
      }
      .glyphicon-new-window{
        color:#06D66E;
      }
   </style>
</head>
<body>
<div class = "container-fluid negative">
  <div class = "row">
    <div class= "col-md-8 col-md-offset-2">
      <a id="outline" class="btn btn-default btn-sm" href = "{{url_for('inbox')}}"><span class = "glyphicon glyphicon-chevron-left"></span>Inbox</a>
{% if message %}
      <span class="pull-right">
        <a class="btn btn-default btn-sm" id="outline" href = "{{message.url}}" target="_blank">
          new window <span class = "glyphicon glyphicon-new-window"></span>
        </a>
      </span>
    </div>
  </div>
  <div class = "row">
   <div class = "col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
       {% set resp = message.get_content() %}
        {% if not resp %}
          <p> We were unable to extract the content from the original source. Visit {message.url}} to view the content</p>
        {% endif %}
        {% if resp["title"]%}
          <h2>{{resp['title']}}</h2>
        {%endif%}
        {% if resp["authors"]%}
          {% for author in resp["authors"][:1]%}
            <a href = "{{author['url']}}" style="padding-bottom:4%">{{author["name"]}} </a>
          {% endfor %}
        {% endif %}
        {% if resp["content"] or resp["media"] %}
          {% if resp["content"] %}
            {{resp["content"] | safe}}
          {% endif %}
          {% if resp["media"]%}
            <div class= 'embedly-embed'>
              <div class='embed-responsive embed-responsive-16by9'>
              {{resp["media"]["html"] | safe}}
              </div>
            </div>
            {% if resp["media"]["type"]== "photo"%}
              <img src="{{resp['media']['url']}}">
            {%endif%}
          {% endif %}
        {% else %}
          <ul class = "list-group">
            <p>We were unable to extract the content from this url. View it at the original source.</p>
            <a class = "list-group-item" href="{{message.url}}" target="_blank" rel="noreferrer noopener">
              <p class ="list-group-item-heading">{{resp['title']}}</p>
              <p class = "list-group-item-text">{{resp['description']}}</p>
              <p style="color:gray"><small>{{message.short_url()}}</small></p>
            </a>
          </ul>
        {%endif%}
    </div>
    <footer style = "background-color:white; position:fixed; bottom:0; height:60; width:100%;">
      <div class = "container">
        <div class = "row">
          <div class = "col-xs-12">
            <h5>
              <ul class="list-inline" style="text-align:center; vertical-align:center;">
                <li style = "width:17%" ><a  href = "{{url_for('dismiss', message_id = message_id, next = 'reader'))}}"><span class = "glyphicon glyphicon-remove" id="dismiss"></span></a></li>
                <li style = "width:17%" ><a  href = "{{url_for('bookmark', message_id = message_id)}}"><span class = "glyphicon glyphicon-bookmark"></span></a></li>
                <li style = "width:17%" ><a href = "{{url_for('share', message_id = message_id)}}"><span class = "glyphicon glyphicon-send"></span></a></li>
                <li style - "wdith:17%"><a id="outline" class = "btn btn-default" type="button" href = "{{url_for('reader')}}" >to reader</a></li>
              </ul>
            </h5>
          </div>
        </div>
      </div>
    </footer>
  {%else%}
        <h2>Hmm.. We couldn't seem to find the message. It might not exist.</h2> <a id="outline" class = "btn btn-default" type="button" href = "{{url_for('reader')}}" >to reader</a>
      </div>
    </div>
  {%endif%}
</div>
</body>
