<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script  type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('favicon')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('styles')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <style>
    body{
      line-height: 200%;
      font-size:150%;
    }
    .embedly-embed iframe{
        width: 100%;
     }
      img {
        width:100%;
      }
      #dismiss:hover{
        color:#CC1A40;
      }
      .glyphicon-send:hover{
        color:#54C6EB;
      }
      .glyphicon-bookmark:hover{
        color:#06D66E;
      }
   </style>
</head>
<body>
<div class = "container-fluid">
  <div class = "row">
    <div class= "col-md-8 col-md-offset-2">
      <a href = "{{url_for('inbox')}}"><span class = "glyphicon glyphicon-chevron-left"></span>Inbox</a>
      <span class="pull-right">
        <a class="btn btn-default btn-sm" id="outline" href = "{{message.url}}" target="_blank">
          new window <span class = "glyphicon glyphicon-new-window"></span>
        </a>
      </span>
    </div>
  </div>
  <div class = "row">
   <div class = "col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
     {% set resp = message.get_content() %}
      {% if not resp %}
        <p> We were unable to extract the content from the original source. <a href ="{{message.url}}" target ="_blank">Open the link in a new window<span class = "glyphicon glyphicon-new-window"></span></a> to view the content.</p>
      {% else %}
        {% if resp["title"]%}
          <h2>{{resp['title']}}</h2>
        {% endif %}
        {% if resp["authors"]%}
          {% for author in resp["authors"][:1]%}
            <a href = "{{author['url']}}" style="padding-bottom:4%">{{author["name"]}} </a>
          {% endfor %}
        {% endif %}
        {% if resp["content"] or resp["media"] %}
          {% if resp["content"] %}
            {{resp["content"] | safe}}
          {% endif %}
          {% if resp["media"]%}
            <div class= 'embedly-embed'> {{resp["media"]["html"] | safe}} </div>
            {% if resp["media"]["type"]== "photo"%}
              <img src="{{resp["media"]["url"]}}">
            {%endif%}
          {% endif %}
        {% else %}
        <p>We were unable to extract the content from this url. View it at the original source.</p>
          <ul class = "list-group">
            <a class = "list-group-item" href="{{message.url}}">
              <p class ="list-group-item-heading">{{resp['title']}}</p>
              <p class = "list-group-item-text">{{resp['description']}}</p>
              <p style="color:gray"><small>{{message.short_url()}}</small></p>
            </a>
          </ul>
        {%endif%}
      {%endif%}
   </div>
  </div>
  <footer style = "background-color:white; position:fixed; bottom:0; height:60; width:100%;">
    <div class = "container">
      <div class = "row">
        <div class = "col-xs-6 col-xs-offset-3">
          <h5 class = "pull-right">
            <a id="outline" class = "btn btn-default" type="button" href = "{{url_for('reader')}}" >to reader</a>
          </h5>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>
