<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script  type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    body{
      background-color:#fafafa;
      line-height: 200%;
      font-size:150%;

    }
    .embedly-embed iframe{
        width: 100%;
     }
      img {
        width:100%;
      }
      #dismiss:hover{
        color:#CC1A40;
      }
      .glyphicon-send:hover{
        color:#54C6EB;
      }
      .glyphicon-bookmark:hover{
        color:#06D66E;
      }
   </style>
</head>
<body>
<div class = "container-fluid">
  <div class = "row">
    <div class= "col-md-8 col-md-offset-2">
      <h5>
        <a href = "{{url_for('inbox')}}"><span class = "glyphicon glyphicon-chevron-left"></span>Inbox</a>
        <span class="pull-right">
          <a href = "{{message.url}}" target="_blank">
            <span class = "glyphicon glyphicon-new-window"></span>
          </a>
        </span>
      </h5>
    </div>
  </div>
  <div class = "row">
   <div class = "col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" style="padding-bottom:40px;">
     {% set resp = message.get_content() %}
      {% if not resp %}
        <p> We were unable to extract the content from the original source. Visit {{message.url}} to view the content</p>
      {% endif %}
      {% if resp["title"]%}
        <h2>{{resp['title']}}</h2>
      {% endif %}
      {% if resp["authors"]%}
        {% for author in resp["authors"][:1]%}
          <a href = "{{author['url']}}" style="padding-bottom:4%">{{author["name"]}} </a>
        {% endfor %}
      {% endif %}
      {% if resp["content"] or resp["media"] %}
        {% if resp["content"] %}
          {{resp["content"] | safe}}
        {% endif %}
        {% if resp["media"]%}
          <div class= 'embedly-embed'> {{resp["media"]["html"] | safe}} </div>
          {% if resp["media"]["type"]== "photo"%}
            <img src="{{resp["media"]["url"]}}">
          {%endif%}
        {% endif %}
      {% else %}
        <ul class = "list-group">
          <p>We were unable to extract the content from this url. View it at the original source.</p>
          <a class = "list-group-item" href="{{message.url}}">
            <p class ="list-group-item-heading">{{resp['title']}}</p>
            <p class = "list-group-item-text">{{resp['description']}}</p>
            <p style="color:gray"><small>{{message.short_url()}}</small></p>
          </a>
        <ul>
      {%endif%}
   </div>
  </div>
  <footer style = "background-color:white; position:fixed; bottom:0; height:60; width:100%;">
    <div class = "container">
      <div class = "row">
        <div class = "col-xs-12">
          <h5>
            <a class = "btn btn-default" type="button" href = "{{url_for('reader')}}">reader</a>
          </h5>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>
