{% set resp = message.message.request_url() %}

<a class="list-group-item" href="{{message.message.url}}" target = "_blank">
{% if resp %}
  <h4>{{resp["title"]}}</h4>
  {% if resp["type"] == "link" %}
    {% if resp["description"] %}<p>{{resp["description"]}}</p>{% endif %}
  {% elif resp["type"] == "photo" %}
    <img src = "{{resp['url']}}" width = "100%">
  {% elif resp["type"] == "rich" or "video" %}
    <div class = "embed-responsive embed-responsive-16by9">
      {{resp["html"]|safe}}
    </div>
  {%endif%}
{% else %}
  {{message.message.short_url()}}
{% endif %}

</a>
<li class="list-group-item">
  <h5>
    <a href = "{{url_for('user', username = message.message.author.username)}}">@{{message.message.author.username}}</a> {{message.message.title}}<span class ="pull-right">{{message.message.format_timestamp()}}</span>
  </h5>
  <h5><span style = "display:inline-block"><img src="{{message.message.url_logo()}}"><small>{% if resp["provider_name"]%} {{resp["provider_name"]}} {%else%} {{message.message.short_url()}}{%endif%}</small></span><h5>
</li>
<li class="list-group-item">
  <ul class="list-inline" style="text-align:center;">
    <li style="width:17%"><a href ="{{url_for('dismiss', message_id = message.message_id, next = 'inbox')}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span><a></li>
    <li style="width:17%"><a href ="{{url_for('bookmark', message_id = message.message_id, next = 'inbox')}}"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><a></li>
    <li style="width:17%"><a href ="{{url_for('share', message_id = message.message_id, next = 'inbox')}}"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a></li>
  </ul>
</li>
