<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script  type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
</head>
<body>
  {% for item in inbox.items %}
  <div class = "row">
    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" style = "position:fixed; background:white;">
      <ul class="list-inline" style="text-align:center;">
        {% if inbox.has_prev %}<li style = "width:15%" ><a href = "{{url_for('reader', page = inbox.prev_num)}}">prev<span class = "glyphicon glyphicon-menu-left"></span></a></li>{% endif %}
        <li style = "width:15%" ><a href = "{{url_for('inbox')}}">inbox</a></li>
        <li style = "width:15%" ><a href = "{{url_for('bookmark', message_id = item.message_id)}}"><span class = "glyphicon glyphicon-bookmark"></span></a></li>
        <li style = "width:15%" ><a href = "{{url_for('share', message_id = item.message_id)}}"><span class = "glyphicon glyphicon-heart"></span></a></li>
        <li style = "width:15%" ><a href = "{{url_for('dismiss', message_id = item.message_id)}}"><span class = "glyphicon glyphicon-share-alt"></span></a></li>
        {% if inbox.has_next %}<li style = "width:15%" ><a style ="width:15%" href = "{{url_for('reader', page = inbox.next_num)}}">next<span class = "glyphicon glyphicon-menu-right"></span></a></li>{% endif %}
      </ul>
    </div>
  </div>
  <div class = "row">
   <div class = "col-xs-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
     {% set resp = item.message.get_content() %}
      {% if not resp %}
        <p> We were unable to extract the content from the original source. Visit {{item.message.url}} to view the content</p>
      {% endif %}
      {% if resp["authors"]%}
        {% for author in resp["authors"]%}
          <p><a href = "{{author['url']}}">{{author["name"]}}</a></p>
        {% endfor %}
      {% endif %}
      {% if resp["content"] %}
        {% if resp["title"]%}
          <h4>{{resp["title"]}}</h4>
        {% endif %}
        {{resp["content"] | safe}}
      {%endif%}
      {% if resp["media"]%}
        {{resp["media"]}}
      {% endif %}
   </div>
  </div>
  {% endfor %}
</body>
