<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4>Select Recipients:</h4><br>
		{% if message.url %}
			<a href = "{{message.url}}" target="_blank">{{message.url}}</a>
		{% endif %}
		{% if message.title %}
			<h5><small>{{message.title}}</small></h5>
		{% endif %}
	</div>
</div>
<div class="row">
	<div class = "col-md-4 col-md-offset-4 col-xs-12">
		<form method ="POST">
			<div class = "form-group">
				{{form.hidden_tag()}}
				<ul class = "list-group">
				{% for recipient in form.recipients %}
					<li class = "list-group-item">
						<div>
								@{{recipient.label}}<span class="text-right">{{recipient}}</span>
						</div>
					</li>
				{% endfor %}
				</ul>
				<input type = "submit" value = "Send!" class = "btn btn-default">
			</div>
		</form>
	</div>
</div>
{% endblock %}
