<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<div class="col-xs-10">
	<div class="row">
		<h2>select recipients:</h2><br>
		{% if message.url %}
			<h4>{{message.get_message_title()}}</h4>
		{% endif %}
		{% if message.url %}
			<h4><small>({{message.url}})</small></h4>
		{% endif %}
		{% if message.title %}
			<h5><small>message.title</small></h5>
		{% endif %}
	</div>
		<div class="col-xs-8 col-offset-2">
				<form method ="POST">
				{{form.hidden_tag()}}
				<ul class = "list-group">
				{% for recipient in form.recipients %}
					<li class = "list-group-item">
						<div class = "col-xs-10">{{recipient.label}}</div>
						<div class = "col-xs-2"> {{recipient}}</div><br>
					</li>
				{% endfor %}
				</ul>
				<input type = "submit" value = "Send!">
				</form>
		</div>
</div>
{% endblock %}
