{%extends "base.html"%}
{% block content %}
<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <h4 class = "text-center">Bookmarks with #{{name}}</h4>
  </div>
</div>
<div class = "row">
  {% for message in bookmarks.items  %}
    <div class= "col-md-3">
      {% include "bookmarked.html" %}
    </div>
  {% endfor %}
</div>
<footer class = "footer">
  <div class = "container">
    <ul class="pager">
      {% if bookmarks.has_prev %}<li><a href = "{{url_for('tag',page = bookmarks.prev_num)}}">previous</a></li>{% endif %}
      {% if bookmarks.has_next %}<li><a href = "{{url_for('tag',page = bookmarks.next_num)}}">next</a></li>{% endif %}
    </ul>
  </div>
</footer>
{% endblock %}
