{%extends "base.html"%}
{% block content %}
<style>
.item{
  margin-top:1em
}
</style>
<div class="row">
  <div class ="col-xs-12 col-md-8 col-md-offset-2">
    <a class= "text-center" href ="{{url_for('tags')}}"><h4>tags</h4></a>
      <ul class = "list-inline">
      {% if user_tags %}
        {% for tag in user_tags|dictsort()%}
          <a href = "{{url_for('tag', name = tag[0])}}">#{{tag[0]}} </a><small>{{tag[1]}}   </small>
        {% endfor %}
      {% else %}
        <li>no tagged items yet :/</li>
      {% endif %}
    </ul>
  </div>
</div>
<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <h4 class = "text-center">Bookmarks with #{{name}}</h4>
  </div>
</div>
<div class = "row masonry">
  {% for message in bookmarks.items  %}
    <div class = "col-sm-5 col-md-4 col-sm-offset-1 col-md-offset-0 item">
      {% include "bookmarked.html" %}
    </div>
  {% endfor %}
  <div class = "container">
    <ul class="pager">
      {% if bookmarks.has_prev %}<li><a id="outline" href = "{{url_for('tag',page = bookmarks.prev_num)}}">previous</a></li>{% endif %}
      {% if bookmarks.has_next %}<li><a id = "outline" href = "{{url_for('tag',page = bookmarks.next_num)}}">next</a></li>{% endif %}
    </ul>
  </div>
</div>
<script type="text/javascript">
  var $container = $('.masonry');
  $container.imagesLoaded( function () {
    $container.masonry({
      columnWidth:'.item',
      itemSelector: '.item',
      percentPosition: true,
    });
  });
  window.onload = $container.masonry.layout()
</script>
{% endblock %}
