<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<style>
 .button-text-center{
	 vertical-align:center;
 }
</style>
<div class = "container-xs-10">
	<h4>@{{user.username}}</h4>
	<span class = "button-text-center">
	{% if not g.user.is_contact(user) %}
		<a class='btn btn-default' role='button' href = "{{url_for('follow', username=user.username)}}"><span class = "glyphicon glyphicon-add"></span> follow</a>
	{% else %}
		<a class='btn btn-default' role="button" href = "{{url_for('unfollow', username= user.username)}}"><span class = "glyphicon glyphicon-remove"></span> unfollow</a>
	{% endif %}
	</span>
</div>
{% endblock %}
