<!--extend from base layout -->
{% extends "base.html" %}
{% block content %}
<div class ="conatiner">
  <div class = "jumbotron">
	<h1>Welcome to Zipp!</h1>
	<p>Save a link to read later by sending it to yourself, or share with friends.</p>
  <p>Once you're finished with a link, you can click the heart to save it for later, or click the X to dismiss an article for good.</p>
  <p>Click the arrow to reshare a message!</p>

	<p>Drag the <a href = "javascript:window.location=%22http://zippmessage.herokuapp.com/quickshare?url=%22+encodeURIComponent(document.location)+%22&title=%22+encodeURIComponent(document.title)">Zipp-Quickshare</a> bookmarklet to your browser's bookmarks bar. Click the bookmarklet to share your browsers current page.</p>
  </div>
</div>
{% endblock %}
