<!--extend from base layout -->
{% extends "base.html" %}
{% block content %}
<div class ="conatiner">
  <div class = "jumbotron">
	<h1>Welcome to Zipp!</h1>
	<p>Save a link to read later by sending it to yourself, or share with friends.</p>
  <p>Once you're finished with a link, you can click the bookmark to save it for later, or click the X to dismiss an article for good.</p>
  <p>Click the arrow to reshare a message!</p>

	<p>Drag this link <a href = "javascript:window.location=%22http://www.zippmsg.com/quickshare?url=%22+encodeURIComponent(document.location)+%22&title=%22+encodeURIComponent(document.title)">Zipp-Quickshare</a> to your browser's bookmarks bar to create a bookmarklet. Click the bookmarklet to easily share your browsers current page.</p>
  <p>Note: this is a very early version of zipp and the product still contains various known bugs! so have patience if something breaks</p>
  <p>I am currently working on implementing new features like public shares, reactions to received messages, chat and more cool stuff! <a href = "mailto:luthy2@gmail.com?Subject=ZippMsg" target="_top">feedback</a> welcome and appreciated! </p></p>
  <p>made with <span class = "glyphicon glyphicon-heart" style ="color:red"></span> by <a href = "https://luthy2.github.io">thebigJL</a>
  </div>
</div>
{% endblock %}
